@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap');

.app {
  font-family: 'Arial', sans-serif;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Відступи для мобільних */
}

@media (max-width: 768px) {
  .app {
    padding: 0 10px;
  }
}

h1,
h2,
a {
  font-family: 'Caveat', serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
